@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --dark-color-lightnes: 17%;
  --light-color-lightnes: 95%;
  --white-color-lightnes: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightnes));
  --color-light: hsl(255, 31%, var(--light-color-lightnes));
  --color-gray: #9e98b3;
  --color-primary: #6b4ce6;
  --color-secondry: #d6ccff;
  --color-success: #51fb51;
  --color-danger: #fb5151;
  --color-dark: hsl(252, 30%, var(--dark-color-lightnes));
  --color-black: #151221;

  --border-raduis: 2rem;
  --card-border-raduis: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  ---sticky-top-left: 5.4rem;
  ---sticky-top-right: -18rem;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

/*| 
  \
      general 
    
        styles
*/
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-raduis);
  cursor: pointer;
  transition: 300ms ease;
  font-size: 0.9rem;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn:hover {
  opacity: 0.8;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background: violet;
}
img {
  width: 100%;
  display: block;
}
.text-bold {
  font-weight: 500;
}
.text-muted {
  color: var(--color-gray);
}
/* ============================= Header =============================*/
header {
  width: 100%;
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.create {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logo h3 {
  font-weight: 800;
  color: var(--color-primary);
  font-family: Poppins;
  font-size: 1.7rem;
}
.search-bar {
  padding: var(--search-padding);
  background: var(--color-light);
  border-radius: var(--border-raduis);
}
.search-bar input {
  width: 35vw;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-dark);
  font-size: 0.9rem;
  margin-left: 1rem;
}
.search-bar input::placeholder {
  color: var(--color-dark);
}
